.user_panel_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 80px 76px 0 0;//margin: 50px 0 0 0
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  &.component_show {
    opacity: 1;
    pointer-events: initial;
    transition: 0.3s;

  }
  &.component_hide {
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
  }
  .user_panel_inner {
    width:290px;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 11;
    border-radius: 15px;


    &.panel_show {
      opacity: 1;
      transition: 0.3s;

    }
    &.panel_hide {
      opacity: 0;
      transition: 0.3s;
    }
  }

  .background {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    // background-color: rgba(184, 185, 109, 0.3);
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 10;
    cursor: initial;

  }
}
