.ticket_order_detail_container {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  .ticket_order_detail {
    width: 80%;
    height: 100%;
    background-color: #c7c7c7;
  }
}
