.enter_button_container {
  width: 300px;
  min-height: 200px;
  padding: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  // box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: transparent;
  // position: relative;
  // bottom: -60px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // overflow: hidden;
  .enter_button {
    width: 100px;
    height: 50px;
    // border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    // background: linear-gradient(
    //   circle at 100% center,
    //   rgba(0, 137, 255, 0.5) 90%,
    //   #0089ff 10%
    // );
    background-color: #333;
    transition: 0.7s;
    filter: drop-shadow(0px 0px 8px transparent);
    .inner {
      width: 100px;
      height: 40px;
      // background: linear-gradient(#0089ff, rgba(0, 137, 255, 0.5));
      // border-radius: 50%;
      // background-color: #bdbdbd;
      animation: windowPulse 3s ease-in-out infinite;
      display: flex;
      justify-content: center;
      align-items: center;
      .text {
        transform: scale(0.95);
        font-size: 24px;
        font-weight: 300;
        opacity: 1;
        transition: 0.7s;
        color: #c7c7c7;
        font-family: "Noto Sans";
        font-weight: 600;
      }
    }
  }
  .enter_button:hover {
    filter: drop-shadow(0px 0px 50px orange);
    transform: scale(1);
    background-color: #555;
    .inner {
      .text {
        transform: scale(1.05) rotate(0);
        opacity: 1;
      }
    }
  }

  @keyframes windowPulse {
    0% {
      filter: drop-shadow(0px 0px 12px transparent);
    }
    50% {
      // filter: drop-shadow(0px 0px 10px rgba(255,255,255,0.6));
      filter: drop-shadow(0px 0px 50px orange);
    }
    100% {
      filter: drop-shadow(0px 0px 12px transparent);
    }
  }
}
