.navbarArea {
  width: 1920px;
  height: 105px;
  background-color: #cbcaca;
  display: flex;
  align-items: center;

  .containerBox {
    width: 1920px;
    height: 55px;
    display: flex;
    align-items: center;
    .mainLogoArea {
      width: 305px;
      height: 100%;
      display: flex;
      justify-content: end;
      .mainLogo {
        width: 205px;
        height: 55px;
        position: relative;
        background-image: url("./../../image/logo.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .containerText {
      font-size: 22px;

      display: flex;
      .navAbout {
        width: 66px;
        height: 22px;
      }
      .navLineUp {
      }
      .navTicket {
      }
      .navMap {
      }
      .navShop {
      }
    }
    .iconArea {
      .toggleBtn {
      }
      .cartIcon {
      }
      .userIcon {
      }
    }
  }
}
