.ticket_order_container {
  max-width: 100%;
  height: calc(100vh - 200px);
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Noto Sans TC", sans-serif;
  position: relative;
  .ticket_order_title {
    width: 200px;
    height: 70px;
    background-image: url("./../../image/ticket.png");
    background-repeat: no-repeat;
    background-size: contain;
    // margin: 30px 0 0 60px;
    position: absolute;
    top: 30px;
    left: 60px;
    &.ticket_order_title_dark {
      background-image: url("./../../image/ticket_white.png");
    }
  }
}
