.ticket_order_step_one_container {
  max-width: 100%;
  height: calc(100% - 100px);
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Noto Sans";

  &.ticket_order_contaner_dark {
    background-color: #585858;
  }
  .ticket_order {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;

    .ticket_type_area {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 60%;
      height: 480px;
      // margin: 200px 0 0 0;
      // position: relative;
      .ticket_box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        transition: 0.3s;
        .ticket_image {
          width: 240px;
          min-width: 240px;
          height: 440px;
          background-repeat: no-repeat;
          background-size: contain;
          transform: perspective(200px) rotateY(3deg);
          transition: 0.3s;
          z-index: 1;
          cursor: pointer;
          display: flex;
          align-items: flex-end;
          justify-content: center;

          &.ticket_one_day {
            background-image: url("./../../image/N_ticket_1day.png");
          }
          &.ticket_two_day {
            background-image: url("./../../image/N_ticket_2days.png");
          }
          &.ticket_camp {
            background-image: url("./../../image/N_ticket_2days_plus.png");
          }
          &:hover {
            transform: perspective(200px) rotateY(3deg) translateY(-20px);
          }
        }
      }
    }
    .order_button {
      width: 100px;
      height: 50px;
      background-color: #333;
      color: #fff;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px 0 0 0;
      transition: 0.3s;
      // opacity: 0;
      cursor: pointer;
      &:hover {
        background-color: #555;
      }
    }
    .ticket_rule_area {
      width: 50%;
      margin: 50px 0 0 0;
      .content {
        width: 100%;
        height: 100%;
        white-space: pre-wrap;
        // white-space: break-all;
        font-family: "Noto Sans";
        color: #333;
        &.content_dark {
          color: #fff;
        }
        .main_rule {
          font-size: 5px;
          line-height: 20px;
        }
        .sub_rule {
          font-size: 5px;
        }
        > p {
          font-size: 5px;
        }
        .notice {
          font-size: 5px;
        }
      }
    }
  }
}
